In [174]:
import numpy as np
import pandas as pd
from time import strptime
import calendar
import time
from dateutil import relativedelta

In [175]:
tm=calendar.month_abbr[int(time.strftime("%m"))]
ty=time.strftime("%Y")
curMY=tm+ty

In [176]:
train_sent=pd.read_csv("C:/Users/roy/Desktop/BDA/TrainData.csv")

In [177]:
train_date = train_sent[train_sent.Col3 == 'DATE']["Col1"]

In [178]:
df=train_date.values
df1=train_date.iloc[::2]
df1=df1.reset_index(drop=True)
df2=train_date.iloc[1::2]
df2 = df2.reset_index(drop=True)
df4=pd.Series(df1.str.cat(df2, sep=''))
df44=pd.Series(df1.str.cat(df2, sep=' '))

In [179]:
df1.replace({'January': 'Jan', 'February': 'Feb', 'March': 'Mar', 'April': 'Apr', 'June': 'Jun', 'July':'Jul', 'August':'Aug', '^September|Sept':'Sep', 'October':'Oct', 'November':'Nov', 'December':'Dec'}, regex=True, inplace=True)
df5=df4.replace('^TillDate.|tilldate|tilldate.|Tilldate', curMY, regex=True)

In [182]:
df6=pd.Series.to_frame(df5)
df6 = df6.apply(pd.to_datetime)
df6['RefDate']=pd.Series(df1.str.cat(df2,sep=' '))
df6['DatesRanked'] = df6['Col1'].rank(ascending=1, method='dense')

In [189]:
df20=df44.iloc[::2]
df20=df20.reset_index(drop=True)
df21=df44.iloc[1::2]
df21=df21.reset_index(drop=True)
df22=pd.concat([df20, df21], axis=1)
df22.rename(index=str, columns={"Col1": "Start", "Col1": "End"})
df23=df6.iloc[::2]
df23=df23.reset_index(drop=True)
df24=df6.iloc[1::2]
df24=df24.reset_index(drop=True)
df25=pd.concat([df23, df24], axis=1)
df25.columns = ['Joining_Date','Joining_Date_in_CV','JoinDate_Rank','Leaving_Date','Leaving_Date_in_CV','LeavingDate_Rank']
pd.DatetimeIndex(df25.Joining_Date).normalize()
pd.DatetimeIndex(df25.Leaving_Date).normalize()
for i in range(len(df25)):
    r = relativedelta.relativedelta(df25.Leaving_Date.iloc[i], df25.Joining_Date.iloc[i])
    tot_months=r.months+r.years*12
    df25.loc[i, 'Duration_in_months'] = tot_months
df25

,Joining_Date,Joining_Date_in_CV,JoinDate_Rank,Leaving_Date,Leaving_Date_in_CV,LeavingDate_Rank,Duration_in_months
0,2013-04-01,Apr 2013,1.0,2017-07-01,Till Date.,6.0,51.0
1,2016-02-01,Feb 2016,5.0,2017-07-01,till date,6.0,17.0
2,2014-09-01,Sep 2014,3.0,2015-12-01,Dec 2015,4.0,15.0
3,2013-04-01,Apr 2013,1.0,2014-08-01,Aug 2014,2.0,16.0

In [187]:
print (train_sent._slice(slice(200, 359)))

             Col1 Col2   Col3
200          till   VB   DATE
201          date   NN   DATE
202   Environment   NN      O
203             :    :      O
204          Java  NNP  SKILL
205           JSP  NNP  SKILL
206        Struts  NNP  SKILL
207     Hibernate  NNP  SKILL
208        Oracle  NNP  SKILL
209          HTML  NNP  SKILL
210           CSS  NNP  SKILL
211    JavaScript  NNP  SKILL
212          Role  NNP      O
213             :    :      O
214          Java  NNP  DESIG
215     Developer  NNP  DESIG
216  Description:  NNP      O
217          This   DT      O
218      E-Alerts  NNP      O
219        System  NNP      O
220            is  VBZ      O
221     basically   RB      O
222            is  VBZ      O
223          used  VBN      O
224            to   TO      O
225          send   VB      O
226        alerts  NNS      O
227            to   TO      O
228           the   DT      O
229          bank   NN      O
..            ...  ...    ...
329            in   IN      O
330    developing  VBG      O
331     Hibernate  NNP  SKILL
332          POJO  NNP  SKILL
333       classes   NN  SKILL
334     Hibernate  NNP  SKILL
335       Mapping  NNP  SKILL
336         files  NNS      O
337             .    .      O
338      Involved  VBN      O
339            in   IN      O
340          Unit  NNP  SKILL
341       Testing  NNP  SKILL
342             .    .      O
343       Project  NNP      O
344            #2  NNP      O
345       Project  NNP      O
346             :    :      O
347      American   JJ      O
348          Girl  NNP      O
349         Dolls  NNP      O
350        Client  NNP      O
351             :    :      O
352      American   JJ    ORG
353          Girl  NNP    ORG
354         U.S.A  NNP    LOC
355      Duration  NNP      O
356             :    :      O
357          Sept   JJ   DATE
358          2014   CD   DATE

[159 rows x 3 columns]